<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container-fluid shadow" id="top-bar">
            <div class="row">
                <div class="col-2">
                    <a href="{% url 'products:main_page' %}" id='logo'>E-Commerce</a>
                </div>
                <!-- <div class="col-4"></div>
                <div class="col-5"></div>
                <div class="col-1"></div> -->
            </div>
        </div>
    </header>
    <div class="container-fluid" id='main'>
        <div class="row">
			<div class="col-4"></div>
			<div class="col-4" id="register-col">
				<div class="register-form shadow">
                    <form action="{% url 'users:register_page' %}" method="post">
                        {% csrf_token %}
                        <div id="register-form-in">
                            {{form.errors}}
                            {{form.email}}
                            {{form.password}}
                            {{form.password2}}
                            {{form.address}}
                            {{form.index}}
                            <input type="submit" value="Регистрация" class='submit-class'>
                        </div>
                    </form>
                </div>
			</div>
			<div class="col-4"></div>
		</div>
    </div>
</body>
</html>
