{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<p>{{user.email}}</p>
			<p>{{user.address}}</p>
			<p>{{user.index}}</p>
			{% if user.vk_user_id is not None %}
				<p>Привязанный аккаунт Вконтакте:</p>
				<img src="{{user.photo_url}}" alt="{{user.photo_url}}">
				<p>{{user.first_name}} {{user.second_name}}</p>
			{% else %}
				<p>Нет привязанного аккаунта Вконтакте.</p>
			{% endif %}
			{% if user.orders is not None %}
				<div class="order shadow">
					{% for order in user.orders.all %}
						<p>Заказ: {{order.id}}</p>
						<p>{{order.total_price}}Р</p>
					{% endfor %}
				</div>
			{% else %}
			<p>Нет заказов</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}