li {
	list-style: None;
}

a:hover {
	text-decoration: none;
}

#top-bar {
	height: 50px;
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 1000;
}

#top-bar {
	height: 50px;
}

#main {
	margin-top: 60px;
}

#main nav ul {
	padding: 0;
}

#nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#verticalline {
	width: 2px;
	background-color: rgba(89, 89, 89, 0.15);
	height: 99%;
	margin: 0 10px 10px 10px;
}

#logo {
	line-height: 50px;
	font-size: 25px;
	color: rgba(89, 89, 89, 0.5);
	margin: 0;
}

#product {
	min-height: 120px;
	margin: 20px 0;
}

#authform_before {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 100%;
	align-items: center;
}

#authform-after {
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	height: 100%;
}

.category-name {
	min-height: 40px;
	line-height: 42px;
}

.underline {
	background-color: rgba(89, 89, 89, 0.15);
	width: 100%;
	height: 2px;
}

.product-mini {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 250px;
	margin-bottom: 20px;
}

.product-mini img {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.product-mini-name {
	padding: 10px;
	height: 100px;
}

.product-mini a {
	text-decoration: none;
	color: rgba(89, 89, 89, 0.8);
	font-size: 14px;
}

.auth-form {
	height: 30px;
	width: 150px;
	margin: 0px 5px 0 5px;
	border-radius: 15px;
	border: 1px solid rgba(89, 89, 89, 0.2);
	background-color: rgba(89,89,89,0.2);
	padding: 0 10px;
	font-size: 12px;
	line-height: 30px;
	transition-duration: 0.5s;
	box-shadow: 0 0 10px rgba(0,0,255,0);
}

.submit-class {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 30px;
	width: 150px;
	margin: 0 5px 0 5px;
	border-radius: 15px;
	border: 1px solid rgba(89, 89, 89, 0.2);
	background-color: rgba(89,89,89,0.2);
	padding: 0 5px;
	font-size: 12px;
	line-height: 30px;
}

.buy-product{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 30px;
	width: 100%;
	margin: 0 5px 0 5px;
	border-radius: 15px;
	border: 1px solid rgba(89, 89, 89, 0.2);
	background-color: rgba(89,89,89,0.2);
	padding: 0 5px;
	font-size: 12px;
	line-height: 30px;
}

#change-amount-form {
	padding: 10px;
}

.submit-blank {
	color: black;
	outline: none;
	background-color: rgba(0,0,0,0);
	border: none;
	padding: 0;
	text-decoration: none;
	transition-duration: 0.5s;
}

.submit-blank:hover {
	color: #0000FF;
	transition-duration: 0.5s;

}

#register {
	display: block;
	position: absolute;
	width: 155px;
	height: 20px;
	top: 40px;
	margin:0 0 0 auto;
	font-size: 12px;
	color: black;
}

#cart-link {
	height: 100%;
	line-height: 50px;
	color: black;
	text-decoration: none;
	transition-duration: 0.5s;
}

#cart-link:hover {
	color: #0000FF;
	transition-duration: 0.5s;

}

#cart-link p {
	margin: 0;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
}

.register-form {
	margin: 60px 0;
	padding: 20px 35px;
	border-radius: 15px;
}

#register-form-in {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-form .auth-form{
	width: 100%;
	margin: 10px 0;
}

.auth-form:focus {
	transition-duration: 0.5s;
	border: 1px solid rgba(0,0,255,0.5);
	box-shadow: 0 0 10px rgba(0,0,255,0.5);
}

.cart_order {
	height: 320px;
	display: flex;
	margin: 20px 0;
	flex-direction: column;
	text-align: center;
	padding: 10px;
}

.order-form {
	height: 30px;
	width: 100%;
	margin: 10px 0px 0 0px;
	border-radius: 15px;
	border: 1px solid rgba(89, 89, 89, 0.2);
	background-color: rgba(89,89,89,0.2);
	padding: 0 10px;
	font-size: 12px;
	line-height: 30px;
	transition-duration: 0.5s;
	box-shadow: 0 0 10px rgba(0,0,255,0);
}

.order-form:focus {
	transition-duration: 0.5s;
	border: 1px solid rgba(0,0,255,0.5);
	box-shadow: 0 0 10px rgba(0,0,255,0.5);
}

.non-flex-submit-class {
	height: 30px;
	width: 150px;
	margin: 10px 5px 0 5px;
	border-radius: 15px;
	border: 1px solid rgba(89, 89, 89, 0.2);
	background-color: rgba(89,89,89,0.2);
	padding: 0 5px;
	font-size: 12px;
	line-height: 30px;
}

#del_cart_prod {
	display: inline-block;
	position: relative;
	top: 0;
	right: 0;
}

.vk_auth {
	align-self: center;
}

.vk_user_data {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.vk_user_data img{
	border-radius: 50%;
	margin: 0 5px;
}

#vk_auth_message {
	text-align: center;
	font-size: 12px;
	margin: 0 0 10px 0;
}

#vk_auth_message_2 p{
	text-align: center;
	font-size: 12px;
	margin: 10px 0 0 0;
}