<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/3a413b96b6.js"></script>
	{% load static %}
	<link rel="stylesheet" href="{% static 'main.css' %}">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<header>
		<div class="container-fluid shadow" id="top-bar">
			<div class="row">
				<div class="col-2">
					<a href="{% url 'products:main_page' %}" id='logo'>E-Commerce</a>
				</div>
				<div class="col-3"></div>
				<div class="col-5">
					{% if not user.is_authenticated %}
						<form action="{% url 'users:login_page' %}" id="authform_before" method="POST">
								{% csrf_token %}
								{{auth_form.email}}
								{{auth_form.password}}
								<div class="submit-class">
									<input type="submit" value="Войти" class='submit-blank'>
									<div id="verticalline"></div>
									<a href="{% url 'users:register_page' %}" class='submit-blank'>Регистрация</a> 
								</div>
								<div class="vk_auth">
									<a href="{% url 'users:vkauth_page' %}">
										<img src="{% static 'vk.png' %}" alt="Авторизация через Вконтакте" height="25px" width="25px">
									</a>
								</div>
						</form>
					{% else %}
					<div id="authform-after">
						{% if user.first_name is not None %}
							<a href="{% url 'users:user_page' %}">{{user.first_name}} {{user.second_name}}</a>
						{% else %}
							<a href="{% url 'users:user_page' %}">{{user.email}}</a>
						{% endif%}
						<a href="{% url 'users:logout_page' %}">Выход</a>
					</div>
					{% endif %}
				</div>
				<div class="col-2">
					<!-- CART -->
						{% if cart.len == 0  %}
						<a href="" id='cart-link'>
							Корзина <i class="fa fa-shopping-cart fa-2" aria-hidden="true"></i>
						</a>
						{% else %}
						<a href="{% url 'cart:cart_page' %}" id='cart-link'>
							<p>Товаров: {{cart.len}}</p>
							<p>{{cart.get_sum_price}} Р</p>
						</a>
						{% endif %}
				</div>
			</div>
		</div>
	</header>
	<div class="container-fluid" id='main'>
		<div class="row">
			<div class="col-2" id='nav'>
				{% block menu %}{% endblock %}
			</div>
			<div class="col-10">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>