{% extends 'base.html' %}

{% block menu %}
<div class="cart_order shadow">
	<span>Товаров в корзине:{{cart.len}}</span>
	<span>Сумарная цена:{{cart.get_sum_price}}</span>
	<form action="{% url 'cart:make_order_page' %}" method="post">
		{% csrf_token %}
		{% if not user.is_authenticated %}
			{{order_forms.errors}}
			<p></p>
			<p>Введите адресс в формате: Страна, Область, Город, Улица, Дом, Кв.</p>
			{{order_forms.address}}
			{{order_forms.index}}
		{% endif %}
		<input type="submit" value="Заказать" class="non-flex-submit-class">
	</form>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
	{% for item in cart %}
		{% with product=item.product %}
		<a href="{% url 'cart:del_from_cart_page' product.pk 0 %}"><i class="fa fa-times" aria-hidden="true"></i></a>
	    <div class="row shadow" id="product">
	    	<div class="col-2" id='product_image'>
	    		<a href="{{product.get_absolute_url}}">
	    			{% if product.image_url is not None %}
	    				<img src="{{product.image_url}}" alt="{{product.name}}">
		    		{% else %}
						<img src="{{product.image.url}}" alt="{{product.name}}" height="100" width="100">
		    		{% endif %}
	    		</a>
	    	</div>
	    	<div class="col-9">
	    		<span><a href="{{product.get_absolute_url}}">{{product.name}}</a></span>
	    	</div>
	    	<div class="col-1">
	    		<form action="{% url 'cart:change_amount_page' product.pk %}" method="Post" id='change-amount-form'>
	    			{% csrf_token %}
	    			<input type="Number" value="{{item.amount}}" name='amount' min="1" class='buy-product'>
	    			<p>Цена:{{item.total_price}}</p>
	    		</form>
	    	</div>
	    </div>
	    {% endwith %}
	{% endfor %}
</div>
{% endblock %}