{% extends 'base.html' %}

{% block menu %}
<nav>
    <ul>
        {% for category in main_categories %}
            {% if category.have_primary %}
                <li class='category-name'><a href="{{category.get_absolute_url}}">{{category.name}} &gt;</a></li>
                <div class="underline"></div>
            {% else %}
                <li class='category-name'><a href="{{category.get_absolute_url}}">{{category.name}}</a></li>
                <div class="underline"></div>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<div id="verticalline"></div>
{% endblock %}

{% block content %}
<p>Новые поступления:</p>
<div class="underline"></div>
<p></p>
    <div class="row">
        {% for product in new_products %}
            <div class="col-2">
                <div class="product-mini shadow">
                   <div class="product-mini-name">
                        <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                   </div>
                    <a href="{{product.get_absolute_url}}">
                            {% if product.image_url is not None %}
                                <img src="{{product.image_url}}" alt="{{product.name}}" align="center">
                            {% else %}
                                <img src="{{product.image.url}}" alt="{{product.name}}" height="100" width="100" align="center">
                            {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}