{% extends 'base.html' %}

{% block menu %}
<nav>
    <ul>
        {% for category in primary_categories %}
        	<li><a href="{% url 'products:primary_group_page' category.slug %}">{{category.name}}</a></li>
        {% endfor %}
    </ul>
</nav>
<div id="verticalline"></div>
{% endblock %}

{% block content %}
	<p>Новые поступления:</p>
	<div class="underline"></div>
	<p></p>
    <div class="row">
        {% for product in new_products %}
            <div class="col-2">
                <div class="product-mini shadow">
                   <div class="product-mini-name">
                        <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                   </div>
                    <a href="{{product.get_absolute_url}}">
                            {% if product.image_url is not None %}
                                <img src="{{product.image_url}}" alt="{{product.name}}" align="center" class='img-fluid'>
                            {% else %}
                                <img src="{{product.image.url}}" alt="{{product.name}}" height="100" width="100" class='img-fluid'>
                            {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}