{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	{% for product in products %}
	    <div class="row shadow" id="product">
	    	<div class="col-1" id='product_image'>
	    		{% if product.image_url is not None %}
	    			<img src="{{product.image_url}}" alt="{{product.name}}">
	    		{% else %}
					<img src="{{product.image.url}}" alt="{{product.name}}" height="100" width="100">
	    		{% endif %}
	    	</div>
	    	<div class="col-10">
	    		<span>{{product.name}}</span>
	    		<span>{{product.description}}</span>
	    	</div>
	    	<div class="col-1">
				<form action="{% url 'cart:add_to_cart_page' product.pk %}" method="Post">
					{% csrf_token %}
					{% if product.price == 0 %}
						<span>Нет в наличии</span>
						<input type="submit" value="В корзину" disabled class='buy-product'>
					{% else %}
						<span>{{product.price}}</span>
						<input type="submit" value="В корзину" class='buy-product'>
					{% endif %}
				</form>
	    	</div>
	    </div>
	{% endfor %}
</div>
{% endblock %}